@model IEnumerable<VehicleMileageControl.Data.Note>

@{
    ViewBag.Title = "Notes";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Make a Note", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NoteTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleHistoryId)
        </th>
        <th>

        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoteTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoteContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleHistoryId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.NoteId }) |
                @Html.ActionLink("More Information", "Details", new { id = item.NoteId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.NoteId })
            </td>
        </tr>
    }
</table>