@model IEnumerable<VehicleMileageControl.Data.Maintenance>

@{
    ViewBag.Title = "Maintenance Notes";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Make a Maintenance Note", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaintenanceOwnerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OdomoterMileage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonalNoteTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonalNoteContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </th>
        <th>

        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaintenanceOwnerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OdomoterMileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalNoteTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalNoteContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedUtc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaintenanceId }) |
                @Html.ActionLink("More Information", "Details", new { id = item.MaintenanceId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaintenanceId })
            </td>
        </tr>
    }
</table>