@model IEnumerable<VehicleMileageControl.Model.MaintenanceDetails>

@{
    ViewBag.Title = "Maintenance Notes";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Make a Maintenance Note", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OdomoterMileage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MessageStr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleInformationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleInformationStr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteId)
        </th>
        <th>

        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OdomoterMileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleInformationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleInformationStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoteId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaintenanceId }) |
                @Html.ActionLink("More Information", "Details", new { id = item.MaintenanceId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaintenanceId })
            </td>
        </tr>
    }
</table>